     Yemisi Adeoluwa
     12/09/2019
     Script to for text calculations using String function

In [ ]:
SELECT TOP (1000) [AddressID]
      ,[AddressLine1]
      ,LEFT(AddressLine1,CHARINDEX(' ',AddressLine1)-1) AS HouseNumber
	  ,RIGHT(AddressLine1,LEN(AddressLine1)-CHARINDEX(' ',AddressLine1)) AS Address
  FROM [AdventureWorks2017].[Person].[Address]

      USING SUBSTRING AND CHARINDEX
       ,SUBSTRING(SRH.Name, CHARINDEX(' ',SRH.Name)+1, Len(SRH.Name))